{% if navigation.items %}
  <nav>
    <ul class="nav-list container">
      {% for item in navigation.items %}
        <li>
          <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}