$card-border-radius: 20px;

.card-container {
  width: 100%;
  position: relative;
  .card__type {
    padding: 8px 28px 26px 28px;
    color: white;
    border-radius: $card-border-radius $card-border-radius 0 0;
    background-color: $dark-blue;
    position: relative;
    top: 20px;
    z-index: -1;
  }
  .card {
    max-height: 520px;
    padding: 28px;
    border-radius: $card-border-radius;
    background-color: $yellow;
    .latest-link {
      padding-right: 4px;
      display: flex;
      align-items: center;
      text-decoration: underline;
    }
  }
}
