@import 'reset';
@import 'type';
@import './utilities/colors';
@import './components/navigation';
@import './components/footer';
@import './components/repolist';
@import './components/mobile-card';

body {
  padding: 20px;
  position: relative;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
